<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  <!-- 인코딩 설정 -->
    <title>Excel Upload</title>
</head>
<body>
<h2>대용량 엑셀 업로드</h2>
<form method="post" enctype="multipart/form-data" action="/excelStream/upload">
    <input type="file" name="file" accept=".xlsx,.xls"/>
    <button type="submit">upload</button>
</form>
</body>
</html>